<link rel="stylesheet" href="style.css">
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map-iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    display: block;
}

